[[extend 'layout.html']]

<div class="section">
    <a class="button mb-5 is-info" href="[[=URL('index')]]">
            <span>Back</span>
    </a>
    <h1 class="title">New Category</h1>
    <form action="[[=URL('create_category')]]" method="POST">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="New Category Name..." id="new_cat_name" name="cat_name">
    
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="color" placeholder="New Category Color..." id="newcolor" name="color">
            </div>
        </div>
        <button class="button is-link">Submit</button>
    </form>
</div>