[[extend 'layout.html']]

<div class="section"> 
    <div class="block">
        <a class="button is-info" href="[[=URL('index')]]">
            <span>Back to Calendar</span>
        </a>
    </div>

    <div class="block">
        <h1 class="title">Invitations</h1>
    </div>

    <div>
    [[for invitation in invitations:]]
        <div>
            <p>Event: [[=events[invitation.id].name]]</p>
            <p>Time: [[=events[invitation.id].event_time]]</p>
            <p>Invited by [[=invitation.inviter]]</p>
            <p>Description: [[=events[invitation.id].description]]</p>
            <a class="button is-success" href="[[=URL('accept_invitation', invitation.id)]]">accept</a>
        </div>
    [[pass]]
    </div>
    


</div>